/* @import "./assets/css/reset.css"; */
/* @import "./assets/css/base.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Netflix Sans";
  src: local("NetflixSans-Regular") url("/fonts/NetflixSans-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Netflix Sans";
  src: local("NetflixSans-Bold") url("/fonts/NetflixSans-Bold.woff2")
    format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Netflix Sans";
  src: local("NetflixSans-Medium") url("/fonts/NetflixSans-Medium.woff2")
    format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Netflix Sans";
  src: local("NetflixSans-Light") url("/fonts/NetflixSans-Light.woff2")
    format("woff2");
  font-weight: 300;
}

body {
  font-family: "Netflix Sans";
}

/* Tùy chỉnh thanh cuộn dọc */
::-webkit-scrollbar {
  width: 8px;
}

/* Tùy chỉnh thanh cuộn ngang */
::-webkit-scrollbar-horizontal {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-track-horizontal {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb-horizontal {
  background: #888;
}

::-webkit-scrollbar-thumb-horizontal:hover {
  background: #555;
}

@layer components {
  .container {
    @apply mx-auto flex max-w-screen-xl gap-5 px-6 py-10 sm:gap-8;
  }
}
